go.work
go.work.sum

bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

mysql-volumes/

*.test
*.out
*.prof
*.cov
*profile.cov
coverage.txt

vendor/

.env
.env.*
!.env.example
.netrc

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
